table
    thead
        tr
            td(colspan=8) 
                h5 Percentage per friendship duration
        tr
            th Date Update
            th UnKnown
            th Within 7 days
            th Within 30 days
            th Within 90 days
            th Within 180 days
            th within 365 days
            th Over 365 days
    tbody
        each item in subscriptions
            tr
                td=item.date_update
                td=item.unknown+'%'
                td=item.within7days+'%'
                td=item.within30days+'%'
                td=item.within90days+'%'
                td=item.within180days+'%'
                td=item.within365days+'%'
                td=item.over365days+'%'