form(action="/channel/account/add", method="POST")
  .row
    label.col-2.col-form-label(for="name") Channel name *
    .col-5
      input.form-control.form-control-sm#name(type="text",name="name",value=old_data ? old_data.name : '')
  .row
    label.col-2.col-form-label(for="access_token") Channel access token *
    .col-5
      input.form-control.form-control-sm#access_token(type="text",name="access_token",value=old_data ? old_data.access_token : '')
  .row
    label.col-2.col-form-label(for="secret") Channel secret *
    .col-5
      input.form-control.form-control-sm#secret(type="text",name="secret",value=old_data ? old_data.secret : '')
  p.red=error
  p.green=success
  button.btn.btn-primary(type="submit") Add account
hr

if accounts
  div
    h4 Accounts
    form#form(action="")
      input(type="hidden", name="name_group", value="")
      button.btn.btn-info#btnSave(type="button") Create new account group
      table.table
        tr
          th(style="width: 10px")
          th Account name
          th Create at
          th Action
        each item in accounts
          tr
            td
              input(type="checkbox", value=item.id, name="id", id=item.id)
            td
              label(for=item.id)
                b=item.name
            td
              span #{formatDate(item.created_at)}
            td
              a(href="/channel/account/delete/"+item.id, onclick="return confirm('Are you sure you want to destroy this item?')")
                button.btn.btn-danger.btn-xs(type="button") Remove
script.
  $('#btnSave').click(function() {
    if($('input[name=id]:checked').length == 0) {
      vex.dialog.alert('Please choose account name!')
    } else {
      vex.dialog.prompt({
          message: 'Enter group name?',
          placeholder: 'Group name',
          callback: function (name) {
            if(name){
              $('input[name=name_group]').val(name);
              $.ajax({
                type : 'POST',
                url : '/channel/group/add',
                data: $('#form').serialize(),
                success: function(res) {

                },
                complete: function() {
                  location.reload();
                }
              })
            }
          }
      })
    }
  })

 