div
  form#form(action="")
    input(type="hidden", name="name_group", value="")
    button.btn.btn-info.btn-sm#btn-create-group(type="button") Create new account group
    br
    br
    table.tb-statistic
      thead
        tr
          th Global #
          th(style="width: 10px")
          th Account name
          th Line account name
          th Account ID
          th Start date
          th Duration
          th Friends
          th Target reach
          th Block
          th Block rate
          th Broadcasts
          th Delivery count
          th
      each account, i in accountList
        tr
          td
            span=i+1
          td
            input(type="checkbox", value=account.id, name="id", id=account.id)
          td
            a(href="/channel/account/edit/"+account.id)
              b=account.name
          td
            span=account.line_account
          td
            span=account.account_id
          td
            span #{formatDate(account.start_date)}
          td
            span=account.duration
          td.a-center
            span=account.friends
          td.a-center
            span=account.target_reach
          td.a-center
            span=account.block
          td.a-center
            span #{account.block_rate}%
          td.a-center
            span=account.broadcast
          td.a-center
            span=account.delivery_count
          td
             a.remove-link(href="/channel/account/delete/"+account.id, onclick="return confirm('Are you sure you want to remove this item?')") remove
script.
  $('#btn-create-group').click(function() {
    if($('input[name=id]:checked').length == 0) {
      vex.dialog.alert('Please choose account name!')
    } else {
      vex.dialog.prompt({
          message: 'Enter group name?',
          placeholder: 'Group name',
          callback: function (name) {
            if(name){
              $('input[name=name_group]').val(name);
              $.ajax({
                type : 'POST',
                url : '/channel/group/add',
                data: $('#form').serialize(),
                success: function(res) {

                },
                complete: function() {
                  location.reload();
                }
              })
            }
          }
      })
    }
  })