div
  hr
  form#form(action="")
    input(type="hidden", name="name_group", value="")
    button.btn.btn-info.btn-sm#btn-create-group(type="button") グループ作成
    br
    br
    h5 アカウントリスト (#{accountList.length})
    table.tb-statistic
      thead
        tr
          th.a-center Global #
          th.a-center(style="width: 10px")
          th.a-center Account name
          th.a-center Line account name
          th.a-center Account ID
          th.a-center Start date
          th.a-center Duration
          th.a-center Friends
          th.a-center Target reach
          th.a-center Block
          th.a-center Block rate
          th.a-center Broadcasts
          th.a-center Delivery count
          th
      each account, i in accountList
        tr
          td
            span=i+1
          td
            input(type="checkbox", value=account.id, name="id", id=account.id)
          td
            a(href="/channel/account/edit/"+account.id)
              b=account.name
          td
            span=account.line_account
          td
            span=account.account_id
          td.a-right
            span #{formatDate(account.start_date, 'YYYY年MM月')}
          td.a-right
            span #{monthDiff(new Date(account.start_date), new Date())} months
          td.a-right
            span=account.friends
          td.a-right
            span=account.target_reach
          td.a-right
            span=account.block
          td.a-right
            span #{account.block_rate}%
          td.a-right
            span=account.broadcast
          td.a-right
            span=account.delivery_count
          td.a-right
             a.remove-link(href="/channel/account/delete/"+account.id, onclick="return confirm('Are you sure you want to remove this item?')") remove
script.
  $('#btn-create-group').click(function() {
    if($('input[name=id]:checked').length == 0) {
      vex.dialog.alert('アカウント名を選択してください')
    } else {
      vex.dialog.prompt({
          message: 'グループ名を入力してください',
          placeholder: 'グループ名',
          callback: function (name) {
            if(name){
              $('input[name=name_group]').val(name);
              $.ajax({
                type : 'POST',
                url : '/channel/group/add',
                data: $('#form').serialize(),
                success: function(res) {

                },
                complete: function() {
                  location.reload();
                }
              })
            }
          }
      })
    }
  })
