include ../helpers/func.pug

if groupAll.length == 0
  span Not found data
else
  div
    h4 All Groups
    table.tb-statistic
        thead
          tr
            th.a-center(colspan="2", rowspan="2") Group Name
            th.a-center(rowspan="2") Number of Accounts
            th.a-center(rowspan="2") SS向けLINE運用開始
            th.a-center(rowspan="2") SS向けLINE運用開始前
            th.a-center(colspan="2") Friends
            th.a-center(colspan="2") Target Reach
            th.a-center(colspan="2") Block
            th.a-center(rowspan="2") Block Rate
            th.a-center(colspan="2") Broadcasts
            th.a-center(colspan="2") Delivery Count
          tr
            th.a-center Total
            th.a-center Average
            th.a-center Total
            th.a-center Average
            th.a-center Total
            th.a-center Average
            th.a-center Total
            th.a-center Average
            th.a-center Total
            th.a-center Average
        tbody
          each group, index in groupAll
            tr
              td 
                span=index+1
              td
                span=group.name
              td.a-right
                span=group.account_number
              td.a-right
                span 0
              td.a-right
                span 0
              td.a-right
                span=group.total.friend
              td.a-right
                span=group.average.friend
              td.a-right
                span=group.total.target_reach
              td.a-right
                span=group.average.target_reach
              td.a-right
                span=group.total.block
              td.a-right
                span=group.average.block
              td.a-right
                span #{group.total.block_rate}%
              td.a-right
                span=group.total.deliveries_broadcast 
              td.a-right
                span=group.average.deliveries_broadcast
              td.a-right
                span=group.total.delivery_count
              td.a-right
                span=group.average.delivery_count
        tfoot
          tr
            td.a-center(colspan="2",style="height: 40px")
              span Total
            td.a-right 
              span=statistic.total.number_of_account
            td.a-right 
              span 0
            td.a-right 
              span 0
            td.a-right
              span=statistic.total.total_friend
            td.a-right
              span -
            td.a-right
              span=statistic.total.target_reach
            td.a-right 
              span -
            td.a-right 
              span=statistic.total.block
            td.a-right 
              span -
            td.a-right 
              span -
            td.a-right 
              span=statistic.total.broadcast
            td.a-right 
              span -
            td.a-right 
              span=statistic.total.delivery_count
            td.a-right 
              span -
          tr
            td.a-center(colspan="5",style="height: 40px")
              span Average of branches
            td.a-right 
              span=statistic.average.total_friend
            td.a-right 
              span -
            td.a-right 
              span=statistic.average.target_reach
            td.a-right
              span -
            td.a-right
              span=statistic.average.block
            td.a-right
              span -
            td.a-right 
              span -
            td.a-right 
              span=statistic.average.broadcast
            td.a-right 
              span -
            td.a-right 
              span=statistic.average.delivery_count
            td.a-right 
              span -
    include table_group_all_by_group.pug    
      