include ../helpers/func.pug

if groupAll.length == 0
  span Not found data
else
  each group in groupAll
    h4 Group (#{group.name})
    table.tb-statistic
      thead
        tr
          th.a-center Global #
          th.a-center Local #
          th.a-center Account Name
          th.a-center Line Account Name
          th.a-center Account ID
          th.a-center Start Date
          th.a-center Duration
          th.a-center Friends
          th.a-center Target Reach
          th.a-center Block
          th.a-center Block Rate
          th.a-center Broadcasts
          th.a-center Delivery Count
      each account, i in group.accounts
        tr
          td
            span=i+1
          td
            span=account.id
          td
            span=account.name
          td
            span=account.line_account
          td
            span=account.account_id
          td.a-right
            span #{formatDate(account.start_date, 'YYYY年MM月')}
          td.a-right
            span #{monthDiff(new Date(account.start_date), new Date())} months
          td.a-right
            span=account.friends
          td.a-right
            span=account.target_reach
          td.a-right
            span=account.block
          td.a-right
            span #{account.block_rate}%
          td.a-right
            span #{account.total_deliveries_broadcast} 回
          td.a-right
            span #{account.delivery_count} 通
      tfoot
        tr
          td.a-right(colspan="7") Total
          td.a-right
            span=group.total.friend
          td.a-right
            span=group.total.target_reach
          td.a-right
            span=group.total.block
          td.a-right
            span #{group.total.block_rate}%
          td.a-right
            span #{group.total.deliveries_broadcast} 回
          td.a-right
            span #{group.total.delivery_count} 通
        tr
          td.a-right(colspan="7") Average
          td.a-right
            span=group.average.friend
          td.a-right
            span=group.average.target_reach
          td.a-right
            span=group.average.block
          td.a-right
            span #{group.average.block_rate}%
          td.a-right
            span #{group.average.deliveries_broadcast} 回
          td.a-right
            span #{group.average.delivery_count} 通