include ../helpers/func.pug
-var group = groupAll[0]
div
  h4 Group (#{group.name})
  table.tb-statistic
    thead
      tr
        th.a-center Global #
        th.a-center Local #
        th.a-center Account Name
        th.a-center Line Account Name
        th.a-center Account ID
        th.a-center Start Date
        th.a-center Duration
        th.a-center Friends
        th.a-center Target Reach
        th.a-center Block
        th.a-center Block Rate
        th.a-center Broadcasts
        th.a-center Delivery Count
    each account, i in group.accounts
      tr
        td=i+1
        td=account.id
        td=account.name
        td
          span=account.line_account
        td
          span=account.account_id
        td.a-right
          span #{formatDate(account.start_date)}
        td.a-right
          span=account.duration
        td.a-right
          span=account.friends
        td.a-right
          span=account.target_reach
        td.a-right
          span=account.block
        td.a-right
          span #{account.block_rate}%
        td.a-right
          span=account.broadcast
        td.a-right
          span=account.delivery_count
    tfoot.tb-footer
      tr
        td.a-right(colspan="7") Total
        td.a-right
          span=group.total.friend
        td.a-right
          span=group.total.target_reach
        td.a-right
          span=group.total.block
        td.a-right
          span #{group.total.block_rate}%
        td.a-right
          span=group.total.broadcast
        td.a-right
          span=group.total.delivery_count
      tr
        td.a-right(colspan="7") Average
        td.a-right
          span=group.average.friend
        td.a-right
          span=group.average.target_reach
        td.a-right
          span=group.average.block
        td.a-right
          span #{group.average.block_rate}%
        td.a-right
          span=group.average.broadcast
        td.a-right
          span=group.average.delivery_count